.game {
    height: calc(100vh - 80px - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
}

.block {
    border: #333 1px dotted;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.block:hover {
    border: #fff 1px solid;
}

@media only screen and (max-width: 625px) {
    .block {
        width: 7vw;
        height: 7vw;
    }
}
