.score-board {
    padding-left: 25px;
    padding-right: 25px;
}

.score-board .score-title {
    font-weight: bold;
}

.score-board .score-value {
    margin-left: 10px;
    padding: 5px 10px;
    border: #685bca 1px solid;
    border-radius: 15px;
}
