.header {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111111;
}

.header .logo {
    padding-left: 50px;
    padding-right: 50px;
}
