.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #111111;
    color: #dddddd;
}

.footer .copyright, .footer .repository  {
    padding-left: 50px;
    padding-right: 25px;
    font-size: 12px;
}
