.block {
  border: #333 1px dotted;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

.block:hover {
  border: #fff 1px solid;
}

@media only screen and (max-width: 625px) {
  .block {
    width: 5vw;
    height: 5vw;
  }
}
