.App {
    position: relative;
    min-height: 100vh;
    background-color: #1a1a1a;
    color: #ffffff;
}

a {
    color: #685bca;
    text-decoration: none;
    font-weight: bold;
    transition: ease-in-out 0.3s;
}

a:hover {
    color: #8b81d7;
}
