body {
  /* reset margin */
  margin: 0;
  /* font family and font enhance */
  font-family: "Lato", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
